# **Lists in Python**

A built-in data type that stores set of values

It can store elements of different types (integer, float, string, etc.)

marks = [87, 64, 33, 95, 76] #marks[0], marks[1]..

student = [”Karan”, 85,“Delhi”]  #student[0], student[1]..


student[0] = “Arjun” #allowed in python

len(student) #returns length

In [3]:
# marks1 = 94.4
# marks2 = 87.6
# marks3 = 95.2
# marks4 = 66.4
# marks5 = 45.1

marks = [94.4, 87.6, 95.2, 66.4, 45.1]
print(marks)
print(type(marks))
print(len(marks))
print(marks[0])
print(marks[1])

[94.4, 87.6, 95.2, 66.4, 45.1]
<class 'list'>
5
94.4
87.6

In [4]:
student = ["kaaren", 95.4, 17, "Delhi"]
print(student[0])
student[0] = "arjun"
print(student)

kaaren
['arjun', 95.4, 17, 'Delhi']

# **List Slicing**
Similar to String Slicing

list_name[ starting_idx : ending_idx ] #ending idx is not included

marks = [87, 64, 33, 95, 76]

marks[ 1 : 4 ] is [64, 33, 95]

marks[ : 4 ] is same as marks[ 0 : 4]

marks[ 1 : ] is same as marks[ 1 : len(marks) ]

marks[ -3 : -1 ] is [33, 95]

In [5]:
marks = [85, 94, 76, 63, 48]
print(marks[1:4])

[94, 76, 63]

In [6]:
marks = [85, 94, 76, 63, 48]
print(marks[:4])

[85, 94, 76, 63]

In [7]:
marks = [85, 94, 76, 63, 48]
print(marks[1:])

[94, 76, 63, 48]

In [1]:
marks = [85, 94, 76, 63, 48]
print(marks[-3:-1])

[76, 63]

# **List Methods**

 - list = [2, 1, 3]

list.append(4) #adds one element at the end [2, 1, 3, 4]

In [1]:
list = [2, 1, 3]
list.append(4)
print(list)

[2, 1, 3, 4]

list.sort( ) #sorts in ascending order [1, 2, 3]

In [4]:
list = [2, 1, 3]
list.sort()
print(list)

[1, 2, 3]

list.sort( reverse=True ) #sorts in descending order [3, 2, 1]

In [5]:
list = [2, 1, 3]
list.sort(reverse=True)
print(list)

[3, 2, 1]

In [ ]:
list = ["banana", "litchi", "apple"]
list.sort(reverse=True)
print(list)

['litchi', 'banana', 'apple']

In [8]:
list = ['a', 'd', 'e', 'f', 'c', 'b']
list.sort()
print(list)

['a', 'b', 'c', 'd', 'e', 'f']

list.reverse( ) #reverses list [3, 1, 2]

In [9]:
list = ['a', 'd', 'e', 'f', 'c', 'b']
list.reverse()
print(list)

['b', 'c', 'f', 'e', 'd', 'a']

list.insert( idx, el ) #insert element at index

In [10]:
list = [2, 1, 3]
list.insert(1, 5)
print(list)

[2, 5, 1, 3]

list.remove(1) #removes first occurrence of element [2,3,1]

In [1]:
list = [2, 1, 3, 1]
list.remove(1)
print(list)

[2, 3, 1]

list.pop(idx) #removes element at idx

In [2]:
list = [2, 1, 3, 1]
list.pop(2)
print(list)

[2, 1, 1]

# **Tuples in Python**

A built-in data type that lets us create immutable sequences of values.

tup = (87, 64, 33, 95, 76) #tup[0], tup[1]..

tup[0] = 43 #NOT allowed in python

tup1 = ( )

tup2 = ( 1, )

tup3 = ( 1, 2, 3 )

In [3]:
tup = (2, 1, 3, 1)
print(type(tup))

<class 'tuple'>

In [ ]:
tup = (2, 1, 3, 1)
print(tup[0])
print(tup[1])
tup[0] = 5

2
1

In [ ]:
tup = (2, 1, 3, 1)
print(tup[0])
print(tup[1])
tup[0] = 5 # does not allowed mutable change...

2
1

TypeError: 'tuple' object does not support item assignment

In [6]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [8]:
tup = (1,)
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [9]:
tup = (1)
print(tup)
print(type(tup))

1
<class 'int'>

In [10]:
tup = (1.0)
print(tup)
print(type(tup))

1.0
<class 'float'>

In [11]:
tup = ("hello")
print(tup)
print(type(tup))

hello
<class 'str'>

In [12]:
tup = ("hello",)
print(tup)
print(type(tup))

('hello',)
<class 'tuple'>

In [13]:
tup = (1, 2, 3, 4,)
print(tup)
print(type(tup))

(1, 2, 3, 4)
<class 'tuple'>

In [14]:
tup = (1, 2, 3, 4)
print(tup)
print(type(tup))

(1, 2, 3, 4)
<class 'tuple'>

In [15]:
tup = (1, 2, 3, 4)
print(tup[1:3])

(2, 3)

# **Tuple Methods**

tup = (2, 1, 3, 1)

tup.index( el ) #returns index of first occurrence    tup.index(1) is 1

tup.count( el ) #counts total occurrences    tup.count(1) is 2

In [1]:
tup = (1,2,3,4)
print(tup.index(2))

1

In [ ]:
tup = (1,2,3,4,2,2)
print(tup.count(2))

3

# **Let‘s Practice**

WAP to ask the user to enter names of their 3 favorite movies & store them in a list.

In [ ]:
movies = []

mov1 = input("enter 1st movie: ")
mov2 = input("enter 2nd movie: ")
mov3 = input("enter 3rd movie: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)

print(movies)

['The Dark Knight', 'Superman', 'Avengers']

In [7]:
movies = []

mov = input("enter 1st movie: ")
movies.append(mov)
mov = input("enter 2nd movie: ")
movies.append(mov)
mov = input("enter 3rd movie: ")
movies.append(mov)

print(movies)

['The Dark Knight', 'Superman', 'Avengers']

In [8]:
movies = []

movies.append(input("enter 1st movie: "))
movies.append(input("enter 2nd movie: "))
movies.append(input("enter 3rd movie: "))

print(movies)

['The Dark Knight', 'Superman', 'Avengers']

WAP to check if a list contains a palindrome of elements. (Hint: use copy( ) method)

[1, 2, 3, 2, 1]  [1, “abc”, “abc”, 1]

In [12]:
# list1 = [1,2,1]
# list1 = [1,2,3]
# list2 = [1,2,3]
list1 = ["m", "a", "a", "m"]

copy_list1 = list1.copy()
copy_list1.reverse()

if(copy_list1 == list1):
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

WAP to count the number of students with the “A” grade in the following tuple.
  
  -  [”C”,“D”,“A”,“A”,“B”,“B”,“A”]

In [13]:
grade = ("C", "D", "A", "A", "B", "B", "A")
print(grade.count("A"))

3

Store the above values in a list & sort them from “A” to “D”.

In [14]:
grade = ["C", "D", "A", "A", "B", "B", "A"]
grade.sort()
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']