# **Dictionary in Python**

Dictionaries are used to store data values in key:value pairs

They are unordered, mutable(changeable) & don’t allow duplicate keys

“key” : value

dict[”name”], dict[”cgpa”], dict[”marks”]

dict[”key”] = “value”   #to assign or add new

In [1]:
info = {
    "key" : "value",
    "name" : "apnacollege",
    "learning" : "coding"
}

print(info)

{'key': 'value', 'name': 'apnacollege', 'learning': 'coding'}

In [ ]:
info = {
    "key" : "value",
    "name" : "apnacollege",
    "learning" : "coding",
    "age": 27,
    "is_adult" : True,
    "marks" : 94.4
}

print(info)

{'key': 'value', 'name': 'apnacollege', 'learning': 'coding', 'age': 27, 'is_adult': True, 'marks': 94.4}

In [3]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    "marks" : 94.4
}

print(info)

{'name': 'apnacollege', 'subject': ['python', 'C', 'Java'], 'topics': ['dict', 'set'], 'age': 27, 'is_adult': True, 'marks': 94.4}

In [5]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    12.99 : 94.4
}

print(info)

{'name': 'apnacollege', 'subject': ['python', 'C', 'Java'], 'topics': ['dict', 'set'], 'age': 27, 'is_adult': True, 12.99: 94.4}

In [6]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    12.99 : 94.4
}

print(type(info))

<class 'dict'>

In [7]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    12.99 : 94.4
}

print(info["name"])
print(info["topics"])
print(info["subject"])
print(info["age"])

apnacollege
['dict', 'set']
['python', 'C', 'Java']
27

In [8]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    12.99 : 94.4
}

info["name"] = "zafirabdullah"
print(info)

{'name': 'zafirabdullah', 'subject': ['python', 'C', 'Java'], 'topics': ['dict', 'set'], 'age': 27, 'is_adult': True, 12.99: 94.4}

In [ ]:
info = {
    "name" : "apnacollege",
    "subject" : ["python", "C", "Java"],
    "topics" : ["dict", "set"],
    "age": 27,
    "is_adult" : True,
    12.99 : 94.4
}

info["name"] = "zafir"   #overwrite
info["surename"] = "abdullah"
print(info)

{'name': 'zafir', 'subject': ['python', 'C', 'Java'], 'topics': ['dict', 'set'], 'age': 27, 'is_adult': True, 12.99: 94.4, 'surename': 'abdullah'}

In [10]:
null_dict = {}
print(null_dict)

{}

In [11]:
null_dict["name"] = "apnacollege"
print(null_dict)

{'name': 'apnacollege'}

### **Nested Dictionaries**

In [20]:
student = {
    "name" : "Rahul Kumar",
    "subjects" : {
        "phy" : 97,
        "chem" : 98,
        "math" : 95
    }
}

# nested dictionary
print(student)

{'name': 'Rahul Kumar', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}}

In [2]:
print(student["subjects"])

{'phy': 97, 'chem': 98, 'math': 95}

In [3]:
print(student["subjects"]["chem"])

98

### **Dictionary Methods**

- myDict.keys( ) #returns all keys

- myDict.values( ) #returns all values

- myDict.items( ) #returns all (key, val) pairs as tuples

- myDict.get( “key“ ) #return the key according to value

- myDict.update( newDict ) #inserts the specified items to the dictionary

myDict.keys( ) #returns all keys

In [4]:
print(student.keys())

dict_keys(['name', 'subjects'])

In [5]:
print(len(student))
print(list(student.keys()))

2
['name', 'subjects']

In [6]:
print(len(list(student.keys())))

2

myDict.values( ) #returns all values

In [7]:
print(student.values())

dict_values(['Rahul Kumar', {'phy': 97, 'chem': 98, 'math': 95}])

In [8]:
print(list(student.values()))

['Rahul Kumar', {'phy': 97, 'chem': 98, 'math': 95}]

myDict.items( ) #returns all (key, val) pairs as tuples

In [9]:
print(student.items())

dict_items([('name', 'Rahul Kumar'), ('subjects', {'phy': 97, 'chem': 98, 'math': 95})])

In [10]:
print(list(student.items()))

[('name', 'Rahul Kumar'), ('subjects', {'phy': 97, 'chem': 98, 'math': 95})]

In [11]:
pairs = list(student.items())
print(pairs[0])

('name', 'Rahul Kumar')

myDict.get( “key“ ) #return the key according to value

In [12]:
print(student["name"])

Rahul Kumar

In [13]:
print(student.get("name"))

Rahul Kumar

In [14]:
# print(student["name2"]) # error
print(student.get("name2")) # no error -> None

None

myDict.update( newDict ) #inserts the specified items to the dictionary

In [15]:
student.update({"city" : "delhi"})
print(student)

{'name': 'Rahul Kumar', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}, 'city': 'delhi'}

In [18]:
new_dict = {"city" : "delhi", "age" : 16}
student.update(new_dict)
print(student)

{'name': 'Rahul Kumar', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}, 'city': 'delhi', 'age': 16}

In [21]:
new_dict = {"name" : "neha kumar", "age" : 16}
student.update(new_dict)
print(student)

{'name': 'neha kumar', 'subjects': {'phy': 97, 'chem': 98, 'math': 95}, 'age': 16}

### **Set in Python**

Set is the collection of the unordered items.

Each element in the set must be unique & immutable.

nums = { 1, 2, 3, 4 }

set2 = { 1, 2, 2, 2 }

#repeated elements stored only onnce, so it resolved to {1, 2}

null_set = set( ) #empty set syntax

In [1]:
collection = {1, 2, 3, 4}

print(collection)
print(type(collection))

{1, 2, 3, 4}
<class 'set'>

In [2]:
collection = {1, 2, 3, 4, "hello", "world"}

print(collection)
print(type(collection))

{1, 2, 3, 4, 'hello', 'world'}
<class 'set'>

In [3]:
collection = {1, 2, 2, 2, "hello", "world", 4}

print(collection)
print(type(collection))

{1, 2, 4, 'hello', 'world'}
<class 'set'>

If you want to sort only numbers or only strings, filter them first:

Sort only numbers:

In [4]:
collection = {1, 2, 2, 2, "hello", "world", 4}
numbers_only = sorted([x for x in collection if isinstance(x, (int, float))])
print(numbers_only)  # Output: [1, 2, 4]

[1, 2, 4]

Sort only strings:

In [ ]:
collection = {1, 2, 2, 2, "hello", "world", 4}
numbers_only = sorted([x for x in collection if isinstance(x, str)])
print(numbers_only)  # Output: ['hello', 'world']

['hello', 'world']

In [7]:
collection = {1, 2, 2, 2, "hello", "world", 4}

print(collection)
print(len(collection))

{1, 2, 4, 'hello', 'world'}
5

In [8]:
collection = {} #empty dictionary

print(type(collection))

<class 'dict'>

In [9]:
collection = set() #empty set; syntax

print(type(collection))

<class 'set'>

### **Set Methods**

set.add( el ) #adds an element

In [4]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)

print(collection)

{1, 2}

set.remove( el ) #removes the elem an

In [2]:
collection.remove(1)
print(collection)

{2}

Len number

In [11]:
collection = set()
collection.add(1)
collection.add(2)
collection.add("apnacollege")
collection.add((1,2,3))
collection.add((1,2,3))

print(collection)
print(len(collection))

{1, 2, (1, 2, 3), 'apnacollege'}
4

set.clear( ) #empties the set

In [ ]:
collection = set()
collection.add(1)
collection.add(2)
collection.add("apnacollege")
collection.add((1,2,3))
collection.add((1,2,3))

collection.clear()
print(len(collection))

0

set.pop( ) #removes a random value

In [12]:
collection = {"hello", "apnacollege", "world", "coding", "python"}

print(collection.pop())

coding

In [13]:
collection

{'apnacollege', 'hello', 'python', 'world'}

set.union( set2 ) #combines both set values & returns new

In [15]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1.union(set2)) #{1, 2, 3, 4}

{1, 2, 3, 4}

set.intersection( set2 ) #combines common values & returns new

In [16]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

print(set1.intersection(set2)) #{2, 3}

{2, 3}

# **Let‘s Practice**

Store following word meanings in a python dictionary :

table : “a piece of furniture”, “list of facts & figures”

cat : “a small animal”

In [ ]:
dictionary = {
    "table" : ["a piece of furniture", "list of fact & figures"], # Can use List  
    "cat" : "a small animal"
}

print(dictionary)

{'table': ['a piece of furniture', 'list of fact & figures'], 'cat': 'a small animal'}

In [ ]:
dictionary = {
    "table" : ("a piece of furniture", "list of fact & figures"), # Can use Tuple
    "cat" : "a small animal"
}

print(dictionary)

{'table': ('a piece of furniture', 'list of fact & figures'), 'cat': 'a small animal'}

You are given a list of subjects for students. Assume one classroom is required for 1
subject. How many classrooms are needed by all students.

”python”, “java”, “C++”, “python”, “javascript”,

“java”, “python”, “java”, “C++”, “C”

In [19]:
subjects = {
    "python", "java", "python", "javascript", "java", 
    "python", "java", "c++", "c"
}

print(subjects)

{'java', 'c++', 'javascript', 'python', 'c'}

In [20]:
print(len(subjects))

5

WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with
an empty dictionary & add one by one. Use subject name as key & marks as value.

In [22]:
marks = {}

x = int(input("enter phy : "))
marks.update({"phy" : x})

x = int(input("enter math : "))
marks.update({"math" : x})

x = int(input("enter chem : "))
marks.update({"chem" : x})

print(marks)

{'phy': 78, 'math': 67, 'chem': 87}

Figure out a way to store 9 & 9.0 as separate values in the set.
(You can take help of built-in data types)

In [23]:
values = {9, 9.0}
print(values)

{9}

In [24]:
values = {9, 9.25}
print(values)

{9, 9.25}

In [25]:
values = {9, 9.25, 8, 8.0}
print(values)

{8, 9, 9.25}

In [26]:
values = {9, "9.0"}
print(values)

{9, '9.0'}

In [27]:
values = {"9", 9.0}
print(values)

{9.0, '9'}

In [28]:
values = {
    ("float", 9.0),
    ("int", 9)
}
print(values)

{('int', 9), ('float', 9.0)}